<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/styles/album.css" />
  </head>
  <body>
    <section class="wrapper">
        <i class="fa-solid fa-arrow-left button" id="prev"></i>
        <div class="image-container">
          <div class="carousel">
            <% results.forEach((item,index) => { %>
              <% console.log("Image 1" + item.AlbumImage1Url ); %>
              <% console.log("Image 2" + item.AlbumImage2Url ); %>
              <img src="../public/images/<%= item.AlbumImage1Url %>"/>
              <img src="../public/images/<%= item.AlbumImage2Url %>"/>
              <img src="../public/images/<%= item.AlbumImage3Url %>"/>
              <img src="../public/images/<%= item.AlbumImage4Url %>"/>
              <img src="../public/images/<%= item.AlbumImage5Url %>"/>
              <img src="../public/images/<%= item.AlbumImage6Url %>"/>
              <img src="../public/images/<%= item.AlbumImage7Url %>"/>
              <img src="../public/images/<%= item.AlbumImage8Url %>"/>
              <img src="../public/images/<%= item.AlbumImage9Url %>"/>
              <img src="../public/images/<%= item.AlbumImage10Url %>"/>

              <% }); %>
          </div>
          <i class="fa-solid fa-arrow-right button" id="next"></i>
        </div>
    </section>
    <script src="../public/scripts/album.js" ></script>
  </body>
</html>

