<% if (!loggedIn) { %> <%- include("partials/header.ejs"); %> <% } else if (role
=== 'club') { %> <%- include("partials/club_header.ejs"); %> <% } else if (role
=== 'sks') { %> <%- include("partials/sks_header.ejs"); %> <% } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubs Page</title>

    <link rel="stylesheet" href="../public/styles/clubs.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body style="background-color: #dfecff">
    <!--club page-->

    <div class="container-fluid">
      <form style="margin-left: 65%; margin-top: 45px;" id="club-search-form">
        <input
          type="text"
          id="club-search-input"
          placeholder="Search by club name"
        />
        <button class="searchButton" type="submit">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
    </div>

    <div
      class="container-fluid"
      style="background-color: #dfecff; padding: 25px"
    >
      <div class="col-sm-12">
        <br>
        <div class="row">
          <div class="col-sm-10">
            <h2 style="margin-left: 150px; margin-top: 30px; font-size: 30px; color: #000">
              Our clubs
            </h2>
          </div>
            <div class="col-sm-2" style="float: right">
              <div class="dropdown">
                <span
                  style="margin-left: 100px; color: #000; font-size: xxx-large"
                  type="button"
                  class="material-symbols-outlined"
                  data-bs-toggle="dropdown"
                >
                  filter_alt
                </span>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" style="font-weight: bold">
                    Filter By Category:
                  </li>
                  <li class="dropdown-item" onclick="filterEvents('all')">
                    All
                  </li>
                  <li
                    class="dropdown-item"
                    onclick="filterEvents('entertainment')"
                  >
                    Entertainment
                  </li>
                  <li class="dropdown-item" onclick="filterEvents('science')">
                    Science
                  </li>
                  <li
                    class="dropdown-item"
                    onclick="filterEvents('engineering')"
                  >
                    Engineering
                  </li>
                  <li class="dropdown-item" onclick="filterEvents('art')">
                    Art
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script>
      function filterEvents(category) {
        const allCards = document.querySelectorAll(".col-sm-4");
        allCards.forEach((card) => {
          const categorySpan = card.querySelector(".contentc #category");

          console.log(
            "Category Selected: " +
              category +
              " Category in card: " +
              categorySpan.textContent.trim()
          );

          const cardCategory = categorySpan.textContent.trim().toLowerCase();
          if (category === "all" || cardCategory === category.toLowerCase()) {
            card.style.display = "block"; // Show card
          } else {
            card.style.display = "none"; // Hide card
          }
        });
      }
    </script>
    <div class="h"></div>

    <br /><br /><br />

    <div class="containerc div-01">
      <div class="col-sm-12">
        <div class="row">
          <%resultClubs.forEach((item, index)=>{%> <%const clubID =
          item.club_id%>
          <div class="col-sm-4">
            <main>
              <div class="cardc" style="background-color: #fff">
                <div class="imagec">
                  <li class="dropdown-item">
                    <img src="../public/images/<%=item.clubImageUrl%>" />
                  </li>
                </div>
                <div class="namec" id="club_name"><%=item.club_name%></div>
                <div class="contentc">
                  <p id="boldTitles">Description <%=item.bio%></p>
                  <p style="background-color: #7bd3d1; padding: 10px; border-radius: 5px; width: 200px; margin-left:120px" id="category">
                    <%=item.category%>
                  </p>
                  <form
                    action="/singleclubpage?club_id=<%= clubID %>"
                    method="POST"
                  >
                    <% var buttonId='button_' + item.club_id; %>
                    <p>
                      <button
                        id="<%= buttonId %>"
                        class="club_info_button"
                        type="submit"
                      >
                        Club Page
                      </button>
                    </p>
                  </form>
                </div>
              </div>
            </main>
          </div>
          <%})%>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer><%- include("partials/footer.ejs") %></footer>
    <script src="../public/scripts/clubs.js"></script>
  </body>
</html>
