<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Font Linking-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!--Style Linking-->

    <link rel="stylesheet" href="../public/styles/myclubpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <!--Header-->
    <!--My Club Header Part-->
    <div class="container1">
      <div class="sidebar1">
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/profile33.png" />
          </div>
          <a href="#" id="my-profile-link">My Profile</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/event2.png" />
          </div>
          <a href="#" id="my-events-link">My Events</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/post2.png" />
          </div>
          <a href="#" id="my-posts-link">My Posts</a>
        </div>
        <div class="items" id="status-item">
          <div class="icon">
            <img src="../public/images/myClubAssets/status.png" />
          </div>
          <a href="#" id="my-status-link">Status Manager</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/notification.png" />
          </div>
          <a href="#" id="club-notifications-link">Club Notifications</a>
        </div>
      </div>
      <div class="ContentBody">
        <div
          id="my-profile-content"
          class="content-section"
          style="
            background-image: url(../public/images/myClubAssets/barca.png);
            display: block;
          "
        >
          <div class="cnt1">
            <div class="logo-side">
              <img src="../public/images/pixel.jpg" alt="Image not loading" />
            </div>
            <button>Upload</button>
          </div>
          <div class="cnt2">
            <h1>Club Name: <br /><%=clubInformation[0].club_name%></h1>
            <h2>Club manager <br /><%= name[0].name %></h2>
            <h2>
              Category: <Strong><%=clubInformation[0].category %></Strong>
            </h2>
          </div>
          <div class="cnt3">
            <h2>BIO:</h2>
            <div class="bio-textbox" placeholder="Enter your bio here">
              <%=clubInformation[0].bio %>
            </div>
          </div>
          <div class="cnt4">
            <h2>Social Media / Contact Info</h2>
            <div class="contact-info">
              <img src="../public/images/myClubAssets/email.png" />
              <div class="Email"><%= clubInformation[0].email %></div>
            </div>
            <div class="socialmedia-links">
              <a href="/socialmedia/<%=clubInformation[0].social_media1 %>">
                <button>
                  <img src="../public/images/myClubAssets/facebook.png" />
                </button>
              </a>
              <a href="/socialmedia/<%=clubInformation[0].social_media2 %>">
                <button>
                  <img src="../public/images/myClubAssets/insta.png" />
                </button> </a
              ><a href="/socialmedia/<%=clubInformation[0].social_media3 %>">
                <button>
                  <img src="../public/images/myClubAssets/tiktok.png" />
                </button>
              </a>
            </div>
          </div>
        </div>
        <div
          id="my-events-content"
          class="content-section"
          style="display: none"
        >
          <div class="card-container">
            <div class="card">
              <div class="image-container">
                <img src="../public/images/myClubAssets/img1.png" />

                <div class="Active">Active</div>
              </div>
              <div class="text-container">
                <div class="card-details">
                  <span>Club Name:</span> Pixel Club
                </div>
                <div class="card-details">
                  <span>Event Name:</span> Trivia Event
                </div>
                <div class="card-details"><span>Date:</span> 12/04/2024</div>
                <div class="card-details"><span>Time:</span> 13:45</div>
                <div class="card-details">
                  <span>Location:</span> Main campus
                </div>
                <div class="card-details"><span>Language:</span> English</div>
                <div class="card-details"><span>guest:</span> NONE</div>
                <div class="card-details">
                  <span>Description:</span> Fun Trivia Event
                </div>
                <div class="card-details"><span>Capacity:</span> 200+</div>
                <div class="card-details"><span>Notes:</span> Have Fun!</div>
              </div>
            </div>
          </div>
          <!-- Content for My Events -->
        </div>
        <div
          id="my-posts-content"
          class="content-section"
          style="display: none"
        >
          POSTS SECTION
          <!-- Content for My Events -->
        </div>
        <div
          id="my-status-content"
          class="content-section"
          style="display: none"
        ></div>
        <div
          id="my-notification-content"
          class="content-section"
          style="display: none"
        >
          <!-- Notification Popup Modal -->
          <div id="notificationModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Notifications</h2>
              <ul id="notificationList">
                Notifications
              </ul>
            </div>
          </div>
          <script src="../public/scripts/myclubpage.js"></script>
        </div>
      </div>
    </div>
    <!--Footer-->
    <!--Font Linking-->
    <script>
      let searchBtn = document.querySelector("#search-btn");
      let searchBar = document.querySelector(".search-bar-container");

      searchBtn.addEventListener("click", () => {
        searchBtn.classList.toggle("fa-times");
        searchBar.classList.toggle("active");
      });
    </script>
    <script src="/Uni-Club-Front-End/public/scripts/myclubpage.js"></script>
  </body>
</html>
