<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Font Linking-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!--Style Linking-->

    <link rel="stylesheet" href="../public/styles/myclubpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

  </head>
  <body>
    <!--Header-->
    <header><%- include("partials/header.ejs") %></header>
    <!--My Club Header Part-->
    <div class="container1">
      <div class="sidebar1">
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/profile33.png" />
          </div>
          <a href="#" id="my-profile-link">My Profile</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/event2.png" />
          </div>
          <a href="#" id="my-events-link">My Events</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/post2.png" />
          </div>
          <a href="#" id="my-posts-link">My Posts</a>
        </div>
        <div class="items" id="status-item">
          <div class="icon">
            <img src="../public/images/myClubAssets/status.png" />
          </div>
          <a href="#" id="my-status-link">Status Manager</a>
        </div>
        <div class="items">
          <div class="icon">
            <img src="../public/images/myClubAssets/notification.png" />
          </div>
          <a href="#" id="club-notifications-link">Club Notifications</a>
        </div>
      </div>
      <div class="ContentBody">
        <div
          id="my-profile-content"
          class="content-section"
          style="display: block"
        >
        <div class="cnt1">
          <div class="logo-side">
            <img src="../public/images/pixel.jpg" alt="Image not loading" />
          </div>
        </div>
          <h1 style="text-align: center; font-size: 42px; margin-bottom: 75px">
            Club Information
          </h1>
          <div class="content-container">
            <div class="cnt2">
              <h1>
                <span style="color: #193635">Club Name:</span>
                <%=clubInformation[0].club_name%>
              </h1>
              <h1>
                Category: <Strong><%=clubInformation[0].category %></Strong>
              </h1>
            </div>
            <div class="cnt3">
              <h1 style="margin-right: 15px;">BIO:</h1>
              <div class="bio-textbox" placeholder="Enter your bio here">
                <%=clubInformation[0].bio %>
              </div>
            </div>
            <div class="cnt4">
              <h2>Social Media / Contact Info</h2>
              <div class="contact-info">
                <img src="../public/images/myClubAssets/email.png" />
                <div class="Email" style="font-size: 20px">
                  <%= clubInformation[0].email %>
                </div>
              </div>
              <div class="socialmedia-links">
                <a href="/socialmedia/<%=clubInformation[0].social_media1 %>">
                  <button>
                    <img src="../public/images/myClubAssets/facebook.png" />
                  </button>
                </a>
                <a href="/socialmedia/<%=clubInformation[0].social_media2 %>">
                  <button>
                    <img src="../public/images/myClubAssets/insta.png" />
                  </button> </a
                ><a href="/socialmedia/<%=clubInformation[0].social_media3 %>">
                  <button>
                    <img src="../public/images/myClubAssets/tiktok.png" />
                  </button>
                </a>
              </div>
            </div>
          </div>
          <hr />

          <h1 style="text-align: center; font-size: 42px; margin-bottom: 75px">
            Club Manager Information
          </h1>
          <div class="content-containerManager">
            <% name.forEach((item) => { %>
            <div class="CLMNAMES">
              <img src="../public/images/images/Alson GC.jpg" />
              <h1>
                <span style="color: #193635">Club Manager Name:</span>
                <br/>
                <%=item.name%>
              </h1>
            </div>
            <% }); %>
            </div>
          </div>
        </div>
        <div
          id="my-events-content"
          class="content-section"
          style="display: none"
        >
          <div class="card-container">
            <div class="card">
              <div class="image-container">
                <img src="../public/images/myClubAssets/img1.png" />

                <div class="Active">Active</div>
              </div>
              <div class="text-container">
                <div class="card-details">
                  <span>Club Name:</span> Pixel Club
                </div>
                <div class="card-details">
                  <span>Event Name:</span> Trivia Event
                </div>
                <div class="card-details"><span>Date:</span> 12/04/2024</div>
                <div class="card-details"><span>Time:</span> 13:45</div>
                <div class="card-details">
                  <span>Location:</span> Main campus
                </div>
                <div class="card-details"><span>Language:</span> English</div>
                <div class="card-details"><span>guest:</span> NONE</div>
                <div class="card-details">
                  <span>Description:</span> Fun Trivia Event
                </div>
                <div class="card-details"><span>Capacity:</span> 200+</div>
                <div class="card-details"><span>Notes:</span> Have Fun!</div>
              </div>
            </div>
          </div>
          <!-- Content for My Events -->
        </div>
        <div
          id="my-posts-content"
          class="content-section"
          style="display: none"
        >
          POSTS SECTION
          <!-- Content for My Events -->
        </div>
        <div
          id="my-status-content"
          class="content-section"
          style="display: none"
        >

        <main class="table" id="customers_table">
          <section class="table__header">
            <h1>Content Management</h1>
            <div class="input-group">
              <input type="search" placeholder="Search Request..." />
              <img src="images/search.png" alt="" />
            </div>
          </section>
    
          <section class="table__body">
            <table>
              <thead>
                <tr>
                  <th>Club Name <span class="icon-arrow">&UpArrow;</span></th>
                  <th>Request Type <span class="icon-arrow">&UpArrow;</span></th>
                  <th>Status <span class="icon-arrow">&UpArrow;</span></th>
                  <th>Action</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h4 style="color: black"></h4>
                  </td>
                  <td><h4 style="color: black"></h4></td>
                  <td>
                    <p class="status pending">Pending</p>
                  </td>
                  <td>
                    <button class="approve-button">Approve</button>
                    <button class="reject-button">Reject</button>
                  </td>
                  <td>
                    <button
                      class="details-button"
                      onclick="showDetails()"
                      data-club-id=""
                    >
                      <img src="Details.png" alt="Button Image" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
    
          <div id="popup" class="popup-card" style="display: none">
            <div class="wrapper">
              <div class="flip-card">
                <div class="front card">
                  <table class="custom-table">
                    <tr>
                      <td class="column1">
                        <img
                          src=""
                          alt="Old Image"
                        />
                        
                        <p id="beforetext"></p>
                     
                      </td>
                      <td class="column2">
                        <p id="after"></p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button id="closeButton" onclick="closePopup()">Close</button>
          </div>
    
          <div id="reject" class="reject-card1">
            <input
              type="text"
              id="rejectionReason"
              placeholder="Enter rejection reason..."
            />
            <button id="sendButton">Send</button>
            <button id="closeButton2" onclick="closePopup2()">Close</button>
          </div>
        </main>
      </div>
        <div
          id="my-notification-content"
          class="content-section"
          style="display: none"
        >
          <!-- Notification Popup Modal -->
          <div id="notificationModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Notifications</h2>
              <ul id="notificationList">
                Notifications
              </ul>
            </div>
          </div>
          <script src="../public/scripts/myclubpage.js"></script>
        </div>
      </div>
    </div>
    <footer><%- include("partials/footer.ejs") %></footer>

    <!--Footer-->
    <!--Font Linking-->
    <script>
      let searchBtn = document.querySelector("#search-btn");
      let searchBar = document.querySelector(".search-bar-container");

      searchBtn.addEventListener("click", () => {
        searchBtn.classList.toggle("fa-times");
        searchBar.classList.toggle("active");
      });
    </script>
    <script src="../public/scripts/MyClubPage Scripts/myclubpage.js"></script>
    <script src="../public/scripts/MyClubPage Scripts/StatusManagerclubpage.js"></script>
  </body>
</html>
