<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="../public/styles/notifications.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <p id="mark-as-read">Mark as All Read</p>
            </header>
            <main>
                    <% resultNotiNewEvent.forEach((itemNE, index) => { %>
                        <%if(itemNE.status_notification == 0){%>
                            <% if (itemNE.notificationType == "Create New Post"){ %>
                                <% var clubName = itemNE.club_name; %>
                                <% var notificationType = itemNE.notificationType%>
                                <% var notify_id = parseInt(itemNE.notify_id); %>
                                <% var divId='button_' + itemNE.notify_id; %>
                                <form id="readNotificationSks1" action="/changeNotificationStatusSks?notify_id=<%= notify_id%>" method="POST">
                                    <div class="notificationCard unread1 read-notification" id="<%= notify_id %>">
                                        <img src="../public/images/<%=itemNE.clubImageUrl%>"/>
                                        <div class="description">
                                            <p>Your Have <%=itemNE.notificationType%> From "<%=clubName%>"</p>       
                                        </div>
                                    </div>
                                </form>
                            <%} else if(itemNE.notificationType == "Create New Event"){%>
                                <% var clubName = itemNE.club_name; %>
                                <% var notificationType = itemNE.notificationType%>
                                <% var notify_id = parseInt(itemNE.notify_id); %>
                                <% var divId='button_' + itemNE.notify_id; %>
                                <form id="readNotificationSks2" action="/changeNotificationStatusSks?notify_id=<%= notify_id%>" method="POST">
                                    <div class="notificationCard unread2 read-notification" id="<%= notify_id %>">
                                        <img src="../public/images/<%=itemNE.clubImageUrl%>"/>
                                        <div class="description">
                                            <p>Your Have <%=itemNE.notificationType%> From "<%=clubName%>"</p>       
                                        </div>
                                    </div>
                                </form>  
                                <% } else if(itemNE.notificationType == "Edit Event Request"){%>
                                    <% var clubName = itemNE.club_name; %>
                                    <% var notificationType = itemNE.notificationType%>
                                    <% var notify_id = parseInt(itemNE.notify_id); %>
                                    <% var divId='button_' + itemNE.notify_id; %>
                                    <form id="readNotificationSks3" action="/changeNotificationStatusSks?notify_id=<%= notify_id%>" method="POST">
                                        <div class="notificationCard unread3 read-notification" id="<%= notify_id %>">
                                            <img src="../public/images/<%=itemNE.clubImageUrl%>"/>
                                            <div class="description">
                                                <p>Your Have <%=itemNE.notificationType%> From "<%=clubName%>"</p>       
                                            </div>
                                        </div>
                                    </form>
                                    <% } else if(itemNE.notificationType == "Edit Profile Request"){ %>
                                        <% var clubName = itemNE.club_name; %>
                                        <% var notificationType = itemNE.notificationType%>
                                        <% var notify_id = parseInt(itemNE.notify_id); %>
                                        <% var divId='button_' + itemNE.notify_id; %>
                                        <form id="readNotificationSks4" action="/changeNotificationStatusSks?notify_id=<%= notify_id%>" method="POST">
                                            <div class="notificationCard unread4 read-notification" id="<%= notify_id %>">
                                                <img src="../public/images/<%=itemNE.clubImageUrl%>"/>
                                                <div class="description">
                                                    <p>Your Have <%=itemNE.notificationType%> From "<%=clubName%>"</p>       
                                                </div>
                                            </div>
                                        </form>
                                    <% } %>
                        <% } %>  
                    <%});%> 
            </main>
        </div>
    </div>
    <script src="../public/scripts/notificationsSks.js"></script>
</body>
</html>