<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="../public/styles/notifications.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <p id="mark-as-read">Mark as All Read</p>
            </header>
            <main>
                <%resultsNotificationsClub.forEach((notification, index) => {%>
                    
                    <% if(notification.status_notification == 0){ %>
                        <% if(notification.notificationType == "Post Rejected"){ %>
                            <% var notify_id1 = parseInt(notification.notify_id); %>
                            <% var divId1='button_' + notification.notify_id; %>
                            <form id="readNotificationFormClub1" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id1%>" method="POST">
                                <div class="notificationCard unread1 read-notification" id="<%= notify_id1 %>">
                                    <img src="../public/images/<%=clubImage%>"/>
                                    <p>Your Post has been rejected. Rejection reason"<%=notification.RejectionReason%>"</p>  
                                </div>
                            </form>
                        <% } else if(notification.notificationType == "Approve Edit Profile"){ %>
                            <% var notify_id2 = parseInt(notification.notify_id); %>
                            <% var divId2='button_' + notification.notify_id; %>
                            <form id="readNotificationFormClub2" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id2%>" method="POST">
                                <div class="notificationCard unread2 read-notification" id="<%= notify_id2 %>">
                                    <img src="../public/images/<%=clubImage%>"/>
                                    <p>Your Profile edit has been approved</p>  
                                </div>
                            </form>
                            <% } else if(notification.notificationType == "Your Post has been approved"){ %>
                                <% var notify_id3 = parseInt(notification.notify_id); %>
                                <% var divId3='button_' + notification.notify_id; %>
                                <form id="readNotificationFormClub3" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id3%>" method="POST">
                                    <div class="notificationCard unread3 read-notification" id="<%= notify_id3 %>">
                                        <img src="../public/images/<%=clubImage%>"/>
                                        <p>Your Post has been approved</p>  
                                    </div>
                                </form>
                                <% } else if(notification.notificationType == "Edit Event Approved"){%>
                                    <% var notify_id4 = parseInt(notification.notify_id); %>
                                    <% var divId4='button_' + notification.notify_id; %>
                                    <form id="readNotificationFormClub4" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id4%>" method="POST">
                                        <div class="notificationCard unread4 read-notification" id="<%= notify_id4 %>">
                                            <img src="../public/images/<%=clubImage%>"/>
                                            <p>Your Edit Event Request has been approved</p>  
                                        </div>
                                    </form>
                                    <% } else if(notification.notificationType == "Event Rejected"){ %>
                                        <% var notify_id5 = parseInt(notification.notify_id); %>
                                        <% var divId5='button_' + notification.notify_id; %>
                                        <form id="readNotificationFormClub5" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id5%>" method="POST">
                                            <div class="notificationCard unread5 read-notification" id="<%= notify_id5 %>">
                                                <img src="../public/images/<%=clubImage%>"/>
                                                <p>Your event has been rejected. Rejection reason"<%=notification.RejectionReason%>"</p>  
                                            </div>
                                        </form>
                                        <% } else if(notification.notificationType == "Reject Edit Event"){%>
                                            <% var notify_id6 = parseInt(notification.notify_id); %>
                                            <% var divId6='button_' + notification.notify_id; %>
                                            <form id="readNotificationFormClub6" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id6%>" method="POST">
                                                <div class="notificationCard unread6 read-notification" id="<%= notify_id6 %>">
                                                    <img src="../public/images/<%=clubImage%>"/>
                                                    <p>Your edit event has been rejected. Rejection reason"<%=notification.RejectionReason%>"</p>  
                                                </div>
                                            </form>
                                            <% } else if(notification.notificationType == "Apprpve new Event"){ %>
                                                <% var notify_id7 = parseInt(notification.notify_id); %>
                                                <% var divId7='button_' + notification.notify_id; %>
                                                <form id="readNotificationFormClub7" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id7%>" method="POST">
                                                    <div class="notificationCard unread7 read-notification" id="<%= notify_id7 %>">
                                                        <img src="../public/images/<%=clubImage%>"/>
                                                        <p>Your event request is approved</p>  
                                                    </div>
                                                </form>
                                                <% } %>
                                    
                        

                            
                    <% } %>
                              
                <%});%>  
            </main>
        </div>
    </div>
    <script src="../public/scripts/notifications.js"></script>
</body>
</html>