<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="../public/styles/notifications.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <p id="mark-as-read">Mark as All Read</p>
            </header>
            <main>
                <% resultsHistoryNot.forEach((itemEN, index)=> { %>
                    <% var eventName = itemEN.event_name; %>
                    <% var eventComment = itemEN.comment; %>
                    <% var eventID=parseInt(itemEN.event_id); %>
                    <% var divId='button_' + itemEN.event_id; %>
                    
                    <%if (itemEN.notificationstatus == 0){%>
                        <%console.log("notificationn " + eventID + "Event Name" + eventName)%>
                        <form id="readNotificationForm" action="/changeNotificationStatus?eventId=<%= eventID%>" method="POST">
                            <div class="notificationCard unread read-notification" id="<%= divId %>">
                                <img alt="photo" src="../public/images/pixel.jpg" />
                                <div class="description">
                                        <%if(itemEN.status == 1){%>
                                            <p>Your Event "<%=eventName%>" Request has been approved</p>
                                            <p id="notif-time">1m ago</p>
                                        <%} else if(itemEN.status == 0){%>
                                            <p>Your Event "<%=eventName%>" Request has not been approved</p>
                                            <p>Rejection Reason "<%=eventComment%>"</p>
                                            <p id="notif-time">1m ago</p>
                                            <%}%>
                                </div>
                            </div>
                        </form>
                        
                    <%} else if((itemEN.notificationstatus == 1)){%>
                        <div class="notificationCard">
                            <img alt="photo" src="../public/images/pixel.jpg" />
                            <div class="description">
                                    <%if(itemEN.status == 1){%>
                                        <p>Your Event "<%=eventName%>" Request has been approved</p>
                                        <p id="notif-time">1m ago</p>
                                    <%} else if(itemEN.status == 0){%>
                                        <p>Your Event "<%=eventName%>" Request has not been approved</p>
                                        <p>Rejection Reason "<%=eventComment%>"</p>
                                        <p id="notif-time">1m ago</p>
                                        <%}%>
                            </div>
                        </div>
                        <%}%>
                <%})%>
                
            </main>
        </div>
    </div>
    <script src="../public/scripts/notifications.js"></script>
</body>
</html>