<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Project</title>
    <link rel="stylesheet" href="../public/styles/notifications.css">
</head>
<body>
    <div class="container">
        <div class="notificationContainer">
            <header>
                <div class="notificationHeader">
                    <h1>Notification</h1>
                    <span id="num-of-notif"></span>
                </div>
                <p id="mark-as-read">Mark as All Read</p>
            </header>
            <main>
                <%resultsNotificationsClub.forEach((notification, index) => {%>
                    <% var notify_id = parseInt(notification.notify_id); %>
                    <% var divId='button_' + notification.notify_id; %>
                    <% if(notification.status_notification == 0){ %>
                        <form id="readNotificationFormClub" action="/changeNotificationStatusClubManager?notify_id=<%= notify_id%>" method="POST">
                            <div class="notificationCard unread read-notification" id="<%= divId %>">
                                <img src="../public/images/<%=clubImage%>"/>
                                 <div class="description">
                                    <% if(notification.notificationType == "Approve Edit Profile"){%>
                                        <p>Your Profile edit has been approved</p>  
                                    <% } else if(notification.notificationType == "Your Post has been approved") {%>   
                                        <p>Your Profile edit has been approved"</p>  
                                        <% } else if(notification.notificationType == "Edit Event Approved") {%>
                                            <p>Your Edit Event Request has been approved</p>  
                                            <% } else if(notification.notificationType == "Event Rejected"){ %>
                                            <p>Your event has been rejected. Rejection reason"<%=resultsNotificationsClub.RejectionReason%>"</p>  
                                            <% }  else if(notification.notificationType == "Reject Edit Event") {%>
                                                <p>Your edit event has been rejected. Rejection reason"<%=resultsNotificationsClub.RejectionReason%>"</p>  
                                                <% } %>
                                </div>
                            </div>
                        </form>
                        <% } %>      
                <%});%>  
            </main>
        </div>
    </div>
    <script src="../public/scripts/notifications.js"></script>
</body>
</html>