<div class="popup-content">
    <!-- Render the fetched popup content here -->
    <h2>Popup Content</h2>
    <link rel="stylesheet" href="../public/styles/popContent.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <% results.forEach((item) => { %>

        <section>
            
            <div class="modal-body"  style="background-color: aliceblue;">
                <div class="contentBx"  style="background-color: aliceblue;">
                    <div class="content"  style="background-color: aliceblue;">      
                        <div class="modal-header" style="background-color: aliceblue;">
                            <img width="100%" height="70%" src="<%=item.imageUrl %>" >
                          </div>     
                        <h3><span name="CLub_name" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Club Name:      </span><span style="font-size: medium; color: darkslategrey;"><%=item.club_name %></span></h2>
                       <h3><span name="event_name" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Event Name:     </span><span style="font-size: medium; color: darkslategrey;"><%=item.club_name %></span></h2>         
                        <h6><span name="date" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Date:                </span><span style="font-size: medium; color: darkslategrey;"><%=item.date %></span></h6>
                        <h6><span name="time" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Time:                </span><span style="font-size: medium; color: darkslategrey;"><%=item.time %></span></h6>
                        <h6><span name="location" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Location:        </span><span style="font-size: medium; color: darkslategrey;"><%=item.location %></span></h6>
                        <h6><span name="language" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Language:        </span><span style="font-size: medium; color: darkslategrey;"><%=item.language %></span></h6>
                        <h6><span name="geust" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Guest:              </span><span style="font-size: medium; color: darkslategrey;"><%=item.guest %></span></h6>
                        <div class="overlay">
                        <h6><span name="description" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Description:  </span><span style="font-size: medium; color: darkslategrey;"><%=item.description %></span></h6></div>
                        <h6><span name="capacity" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Capacity:        </span><span style="font-size: medium; color: darkslategrey;"><%=item.capacity %></span></h6>
                        <h6><span name="notes" style="font-weight: bold; font-style: italic; font-size: large;  padding-right: 10px;">Notes:              </span><span style="font-size: medium; color: darkslategrey;"><%=item.notes %></span></h6>
                    </div>
                </div>
            </div>
   
    <button id="closeButton" onclick="closePopup()">Close</button >
    </div>
</section>

    <% }); %>
    
</div>
