<head>
  <link rel="stylesheet" href="../public/styles/popupcontentedit.css" />
</head>
<div class="popup-content">
  <div class="mainContainer">
    <div class="leftSide">
      <h1 style="text-align: center; text-decoration: underline">old Event</h1>
      <% oldEvent.forEach((event) => { %>
      <div class="imgBx">
        <img src="../public/images/<%= event.imageURL %>" alt="" />
      </div>
      <div class="contentBx">
        <div class="content">
          <% const currentDate = new Date(); if (currentDate.toISOString().split('T')[0] === event.date.toISOString().split('T')[0]) { %>
            <div class="statu-00">
              <p>Active</p>
            </div>
            <% } else if (currentDate.toISOString().split('T')[0] > event.date.toISOString().split('T')[0]) { %>
            <div class="statu-01"><p>Finished</p></div>
            <% } else { %>
            <div class="statu-02"><p>Soon</p></div>
            <% } %>
          <h2><%= event.club_name %></h2>
          <h2><%= event.event_name%></h2>
          <h2>
            Date:<span><%= event.date.toISOString().split('T')[0] %></span>
          </h2>
          <h2>Time: <span><%= event.time%></span></h2>
          <h2>Location: <span><%= event.location%></span></h2>
          <h2>Language: <span><%= event.language%></span></h2>
          <h2>Guest: <span><%= event.guest_name%></span></h2>
          <h2>Category: <span><%= event.category %></span></h2>
          <h2>Capacity: <span><%= event.capacity%></span></h2>
          <h2>Notes: <span><%= event.notes%></span></h2>
          <h2>Description: <span><%= event.description %></span></h2>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="vl"></div>
    <div class="rightSide">
      <h1 style="text-align: center; text-decoration: underline">New Event</h1>
      <% newEvent.forEach((event) => { %>
        <% console.log(": " + event.imageUrl + " : " + oldEvent[0].imageURL) %>
      <div class="imgBx" <% if(event.imageUrl != oldEvent[0].imageURL) {%> style = "background-color: yellow" <%} %>>
        <img src="../public/images/<%= event.imageUrl %>" alt="" />
      </div>
      <div class="contentBx">
        <div class="content">
          <% const currentDate = new Date(); if (currentDate === event.date) { %>
            <div class="statu-00">
              <p>Active</p>
            </div>
            <% } else if (currentDate > event.date) { %>
            <div class="statu-01"><p>Finished</p></div>
            <% } else { %>
            <div class="statu-02"><p>Soon</p></div>
            <% } %>
          <h2 <% if(event.club_name !== oldEvent[0].club_name) {%> style = "background-color: yellow" <%}%>><%= event.club_name %></h2>
          
          <h2 <% if(event.event_name !== oldEvent[0].event_name) {%> style = "background-color: yellow" <%}%>><%= event.event_name%></h2>
          <% function formatDate(date) {
            const d = new Date(date);
            const year = d.getFullYear();
            const month = ('0' + (d.getMonth() + 1)).slice(-2);
            const day = ('0' + d.getDate()).slice(-2);
            return `${year}-${month}-${day}`;
        } %>
        <% console.log(event.date.getDate()  +"     "+ oldEvent[0].date.getDate()) %>
        <h2 <% if (event.date.getDate()  !== oldEvent[0].date.getDate()) { %> 
          style="background-color: yellow"
       <% } %>
       >
            Date: <span><%= event.date.toISOString().split('T')[0] %></span>
        </h2>
        
          <h2 <% if(event.time !== oldEvent[0].time) {%> style = "background-color: yellow" <%}%>>Time: <span><%= event.time%></span></h2>
          <h2 <% if(event.location !== oldEvent[0].location) {%> style = "background-color: yellow" <%}%>>Location: <span><%= event.location%></span></h2>
          <h2 <% if(event.language !== oldEvent[0].language) {%> style = "background-color: yellow" <%}%>>Language: <span><%= event.language%></span></h2>
          <h2 <% if(event.guest_name !== oldEvent[0].guest_name) {%> style = "background-color: yellow" <%}%>>Guest: <span><%= event.guest_name%></span></h2>
          <h2 <% if(event.category !== oldEvent[0].category) {%> style = "background-color: yellow" <%}%>>Category: <span><%= event.category %></span></h2>
          <h2 <% if(event.capacity !== oldEvent[0].capacity) {%> style = "background-color: yellow" <%}%>>Capacity: <span><%= event.capacity%></span></h2>
          <h2 <% if(event.notes !== oldEvent[0].notes) {%> style = "background-color: yellow" <%}%>>Notes: <span><%= event.notes%></span></h2>
          <h2 <% if(event.description !== oldEvent[0].description) {%> style = "background-color: yellow" <%}%>>Description: <span><%= event.description %></span></h2>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <button id="closeButton" onclick="closePopup()">Close</button>
</div>
