<head>
  <link rel="stylesheet" href="../public/styles/popupcontentedit.css" />
</head>

<div class="popup-content">
  <h1 style="text-align: center">Detailed Event</h1>
  <% results.forEach((event) => { %>
  <div
    class="containment"
    style="
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    "
  >
    <div class="imgBx">
      <img src="../public/images/<%= event.imageUrl %>" alt="" />
    </div>
    <div class="contentBx">
      <div class="content">
        <% const currentDate = new Date(); currentDate.setHours(0, 0, 0, 0);
        const eventDate = new Date(event.date); eventDate.setHours(0, 0, 0, 0);
        if (currentDate.getTime() === eventDate.getTime()) { %>
        <div class="statu-00">
          <p>Active</p>
        </div>
        <% } else if (currentDate.getTime()> eventDate.getTime()) { %>
        <div class="statu-01"><p>Finished</p></div>
        <% } else { %>
        <div class="statu-02"><p>Soon</p></div>
        <% } %>
        <h2><%= event.club_name %></h2>
        <h2 class="nameE"><%= event.event_name%></h2>
        <h2>Date:<span><%= event.date.toString().substring(0, 11) %></span></h2>
        <h2>Time: <span><%= event.time%></span></h2>
        <h2>Location: <span><%= event.location%></span></h2>
        <h2>Language: <span><%= event.language%></span></h2>
        <h2>Guest: <span><%= event.guest_name%></span></h2>
        <h2>Category: <span><%= event.category %></span></h2>
        <h2>Capacity: <span><%= event.capacity%></span></h2>
        <h2>Notes: <span><%= event.notes%></span></h2>
        <h2>Description: <span><%= event.description %></span></h2>
      </div>
    </div>
  </div>
  <% }); %>
  <button id="closeButton" onclick="closePopup()">Close</button>
</div>
