<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/statusManagerStyke.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../public/styles/details.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <header>
      <% if (!loggedIn) { %> <%- include("partials/header.ejs"); %> <% } else if
      (role === 'club') { %> <%- include("partials/club_header.ejs"); %> <% }
      else if (role === 'sks') { %> <%- include("partials/sks_header.ejs"); %>
      <% } %>
    </header>
    <!--Font Linking-->
    <script>
      let searchBtn = document.querySelector("#search-btn");
      let searchBar = document.querySelector(".search-bar-container");

      searchBtn.addEventListener("click", () => {
        searchBtn.classList.toggle("fa-times");
        searchBar.classList.toggle("active");
      });
    </script>

    <main class="table" id="customers_table">
      <section class="table__header">
        <h1>Posts Management</h1>
        <div class="input-group">
          <input type="search" placeholder="Search Request..." />
          <img src="images/search.png" alt="" />
        </div>
      </section>

      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Club Name <span class="icon-arrow">&UpArrow;</span></th>
              <th>Request Type <span class="icon-arrow">&UpArrow;</span></th>
              <th>Status <span class="icon-arrow">&UpArrow;</span></th>
              <th>Action</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% var buttonId; %> <% var postId %> <% tempPosts.forEach((item) =>
            { %> <% buttonId = 'button_' + item.PostID; %>
            <tr>
              <td>
                <h4 style="color: black"><%=item.club_name%></h4>
              </td>
              <td><h4 style="color: black"><%=item.RequestType%></h4></td>
              <td>
                <p class="status pending">Pending</p>
              </td>
              <td>
                <form
                  style="all: initial"
                  action="/approvePost?postId=<%=item.PostID%>"
                  method="POST"
                >
                  <button class="approve-button">Approve</button>
                </form>
                <button
                  class="reject-button"
                  onclick="showRejectPopup('<%=item.PostID%>')"
                >
                  Reject
                </button>
              </td>
              <td>
                <button
                  id="<%= buttonId %>"
                  class="details-button"
                  onclick="showPopup('<%= item.PostID %>')"
                >
                  <img
                    src="/images/images/Details.png"
                    alt="Button Image"
                  />Details
                </button>
              </td>
            </tr>
            <div
              id="reject-<%=item.PostID%>"
              class="reject-card1"
              style="display: none"
            >
              <form
                id="rejectionForm-<%=item.PostID%>"
                action="/rejectPost?postId=<%=item.PostID%>"
                method="POST"
                onsubmit="return sendRejectionReason(event)"
              >
                <input
                  type="text"
                  id="rejectionReason-<%=item.PostID%>"
                  name="rejectionReason"
                  placeholder="Enter rejection reason..."
                />
                <button
                  class="send-button"
                  type="submit"
                  style="
                    padding: 10px 20px;
                    margin: 0 10px;
                    cursor: pointer;
                    color: white;
                    background-color: #289e46;
                    margin-left: 30px;
                  "
                >
                  Send
                </button>
              </form>
              <button onclick="closePopup2('<%=item.PostID%>')">Close</button>
            </div>
            <% }) %> <% var buttonId; %> <% var RequestId %> <%
            tempprofileedits.forEach((item) => { %> <% buttonId = 'button_' +
            item.temp_id; %>
            <tr>
              <td>
                <h4 style="color: black"><%=item.clubName%></h4>
              </td>
              <td><h4 style="color: black"><%=item.RequestType%></h4></td>
              <td>
                <p class="status pending">Pending</p>
              </td>
              <td>
                <form
                  style="all: initial"
                  action="/approveProfileEdit?temp_id=<%=item.temp_id%>"
                  method="POST"
                >
                  <button class="approve-button">Approve</button>
                </form>
                <button
                  class="reject-button"
                  onclick="showRejectPopup('<%=item.temp_id%>')"
                >
                  Reject
                </button>
              </td>
              <td>
                <button
                  id="<%= buttonId %>"
                  class="details-button"
                  onclick="showPopup_ProfileEdits('<%= item.temp_id %>')"
                >
                  <img
                    src="/images/images/Details.png"
                    alt="Button Image"
                  />Details
                </button>
              </td>
            </tr>
            <div
              id="reject-<%=item.temp_id%>"
              class="reject-card1"
              style="display: none"
            >
              <form
                id="rejectionForm-<%=item.temp_id%>"
                action="/rejectProfileEdit?temp_id=<%=item.temp_id%>"
                method="POST"
              >
                <input
                  type="text"
                  id="rejectionReason-<%=item.temp_id%>"
                  name="rejectionReason"
                  placeholder="Enter rejection reason..."
                />
                <button
                  class="send-button"
                  type="submit"
                  style="
                    padding: 10px 20px;
                    margin: 0 10px;
                    cursor: pointer;
                    color: white;
                    background-color: #289e46;
                    margin-left: 30px;
                  "
                >
                  Send
                </button>
              </form>
              <button
                id="closeButton2"
                onclick="closePopup2('<%=item.temp_id%>')"
              >
                Close
              </button>
            </div>
            <% }) %>
          </tbody>
        </table>
      </section>

      <section>
        <div
          id="popup-profileEdits"
          class="popup-card"
          style="display: none"
        ></div>
      </section>

      <section>
        <div id="popupPost" class="popup-card2" style="display: none"></div>
      </section>

      <script>
        // Function to show the popup card
        function showPopup(postId) {
          document.getElementById("popupPost").style.display = "block";
        }

        // Function to close the popup card
        function closePopup() {
          document.getElementById("popupPost").style.display = "none";
          document.getElementById("popup-profileEdits").style.display = "none";
        }

        // Attach click event listener to the button
        var buttons = document.querySelectorAll(".details-button");
        buttons.forEach(function (button) {
          button.addEventListener("click", showPopup);
        });

        // Function to show the reject popup
        function showRejectPopup(postId) {
          var popup = document.getElementById("reject-" + postId);
          if (popup) {
            popup.style.display = "block";
          }
        }

        // Function to close the reject popup
        function closePopup2(postId) {
          var popup = document.getElementById("reject-" + postId);
          if (popup) {
            popup.style.display = "none";
          }
        }

        var rejectButtons = document.querySelectorAll(".reject-button");
        rejectButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            var postId = this.getAttribute("data-post-id");
            showRejectPopup(postId);
          });
        });

        document.addEventListener("DOMContentLoaded", () => {
          const approveButtons = document.querySelectorAll(".approve-button");
          approveButtons.forEach((button) => {
            button.addEventListener("click", function () {
              const buttonId = this.id;
              const postId = this.getAttribute("data-post-id");
              console.log("Button clicked:", buttonId);
              console.log("Post ID:", postId);
              // Perform further actions based on buttonId and postId
            });
          });
        });
      </script>
    </main>
    <footer>
      <div class="footerContainer">
        <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Uskudar University</a></li>
            <li><a href="">About SKS</a></li>
            <li><a href="">@sks.uskudar.edu.tr</a></li>
          </ul>
        </div>
      </div>
      <div class="footerBottom">
        <p>Copyright &copy;2024</p>
      </div>
    </footer>
    <script src="../public/scripts/StatusManagerScript.js"></script>
  </body>
</html>
